{% extends 'base.html.twig' %}

{% block title %}Hello AchievementController!{% endblock %}

{% block body %}

<div class="ContainerAchievement">
        {% for achievement in Achievements %}
                <div class="Achievement">
                        <a href="{{ path('app_achievement_show',{'id': achievement.plant.id}) }}">
                                <p class="funFont fontsize-2rem">{{achievement.plant.name}}</p>
                                <p> date de découverte : {{achievement.created_at|date('Y-m-d')}}</p>
                                <img class="AchievementPicture" src="{{ ( asset(AchievementLogoPath ~ achievement.file_name)) }}">
                        </a>
                        <a class="redButton" href="{{ path('app_achievement_delete',{'id': achievement.plant.id}) }}">Supprimer</a>
                </div>
                        
        
        {% endfor %}
</div>
{% endblock %}
