{% extends 'base.html.twig' %}

{% block title %}Hello UploadPhotoController!{% endblock %}

{% block body %}

<div class="slideshow-container" width="100%">
    {% for picture in Plant.pictures %}
        <div class="mySlides fade">
            <img src="{{ ( asset(PlantPicturePath ~ picture.file_name)) }}" style="width:100%">
        </div>
    {% endfor %}
    <a id="prev" class="prev">&#10094;</a>
    <a id="next" class="next">&#10095;</a>
</div>

    <p class="funFont">{{Plant.name}}</p>

<div id="informations" class='informations'>
    <p class="funFont">As-tu vu cette Plante ?</p>
    {#p>Niveau : {{Plant.Level}}</p>#}
    {% for hint in Plant.hints %}
        {% if hint.logo != null %}
            <img class="logo"  src="{{ ( asset( HintLogoPath ~ hint.logo)) }}">
        {% endif %}
        <p>{{ hint.text }}</p>
    {% endfor %}
    <p>Prend une photo quand tu l'as trouvé !! :</p>  
    <label for="achievement_file_name" class="custom-file-upload funFont">
    J'ai trouvé !!
    </label> 
</div>

<div id="validation" class='informations'>
    <img class="PictureFound" id="PlantPicture">
    <p id="labelValidationPlante" class="funFont">Est-ce la bonne Plante ? </p>
    {{ form_start(AchievementForm)}}
        {{ form_row(AchievementForm.file_name) }}
    <div class="flex-row">
        {{ form_row(AchievementForm.yes) }}
        {{ form_row(AchievementForm.no) }}
    </div>
    {{ form_end(AchievementForm)}}
</div>

{% endblock %}
